In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
#sns.set(palettle="set2"
from sklearn.preprocessing import LabelEncoder

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/RonnyJeffersonQuispeTaipe/RONNY1/main/REC44.csv")
data.head()

,ID1,CASEID,HWIDX,HW1,HW2,HW3,HW4,HW5,HW6,HW7,...,HW52,HW53,HW55,HW56,HW57,HW58,HW70,HW71,HW72,HW73
0,2021,000100301 2,1,15,115,805,5859,22,10078,6741,...,1,124,0,113,4,,34,91,103,98
1,2021,000100401 1,1,22,108,803,357,-180,9311,1260,...,1,124,0,113,4,,-204,-79,33,72
2,2021,000100801 2,1,18,91,763,422,-173,9345,577,...,1,124,0,113,4,,-175,-109,-35,-3
3,2021,000104201 2,1,41,145,978,3952,-27,9891,2609,...,1,137,0,126,4,,-47,-43,-22,-24
4,2021,000107001 1,1,22,93,766,52,-256,9028,309,...,1,132,0,121,4,,-260,-146,-17,28

In [9]:
data.shape

(22100, 32)

In [12]:
data.info

<bound method DataFrame.info of         ID1              CASEID  HWIDX HW1  HW2  HW3   HW4   HW5    HW6   HW7  \
0      2021        000100301  2      1  15  115  805  5859    22  10078  6741
1      2021        000100401  1      1  22  108  803   357  -180   9311  1260
2      2021        000100801  2      1  18   91  763   422  -173   9345   577
3      2021        000104201  2      1  41  145  978  3952   -27   9891  2609
4      2021        000107001  1      1  22   93  766    52  -256   9028   309
...     ...                 ...    ...  ..  ...  ...   ...   ...    ...   ...
22095  2021        325403401  3      1   6   86  680  7265    60  10241  9109
22096  2021        325410601  1      1   9   64  647   146  -218   9155   110
22097  2021        325410601  1      2  46  144  943   293  -189   9219  1296
22098  2021        325410801  2      1  20   99  832  3431   -40   9848   536
22099  2021        325412501  2      1  14   87  754  2726   -60   9771   980

       ... HW52 HW53 HW55 HW56 HW57  HW58  HW70  HW71  HW72  HW73
0      ...    1  124    0  113    4          34    91   103    98
1      ...    1  124    0  113    4        -204   -79    33    72
2      ...    1  124    0  113    4        -175  -109   -35    -3
3      ...    1  137    0  126    4         -47   -43   -22   -24
4      ...    1  132    0  121    4        -260  -146   -17    28
...    ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
22095  ...    1  102    0  102    3          80   123   113   105
22096  ...    1  111    0  111    4        -234  -214  -102  -102
22097  ...    1  119    0  119    4        -203   -92    44    65
22098  ...    1  128    0  128    4         -44  -126  -140  -144
22099  ...    1  103    0  103    3         -55   -71   -66   -56

[22100 rows x 32 columns]>

In [15]:
print(sum(data.duplicated()))

0

In [18]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22100 entries, 0 to 22099
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID1     22100 non-null  int64
 1   CASEID  22100 non-null  object
 2   HWIDX   22100 non-null  int64
 3   HW1     22100 non-null  object
 4   HW2     22100 non-null  object
 5   HW3     22100 non-null  object
 6   HW4     22100 non-null  object
 7   HW5     22100 non-null  object
 8   HW6     22100 non-null  object
 9   HW7     22100 non-null  object
 10  HW8     22100 non-null  object
 11  HW9     22100 non-null  object
 12  HW10    22100 non-null  object
 13  HW11    22100 non-null  object
 14  HW12    22100 non-null  object
 15  HW13    22100 non-null  int64
 16  HW15    22100 non-null  object
 17  HW16    22100 non-null  object
 18  HW17    22100 non-null  object
 19  HW18    22100 non-null  object
 20  HW19    22100 non-null  object
 21  HW51    22100 non-null  object
 22  HW52    22100 non-null  object
 23  HW53    22100 non-null  object
 24  HW55    22100 non-null  int64
 25  HW56    22100 non-null  object
 26  HW57    22100 non-null  object
 27  HW58    22100 non-null  object
 28  HW70    22100 non-null  object
 29  HW71    22100 non-null  object
 30  HW72    22100 non-null  object
 31  HW73    22100 non-null  object
dtypes: int64(4), object(28)
memory usage: 5.4+ MB
None

In [22]:
na_counts = pd.DataFrame(data.isna().sum(),columns=["NA Counts"]).reset_index()
na_counts = na_counts.rename(columns={'index': 'Column Name'})
print(na_counts)

   Column Name  NA Counts
0          ID1          0
1       CASEID          0
2        HWIDX          0
3          HW1          0
4          HW2          0
5          HW3          0
6          HW4          0
7          HW5          0
8          HW6          0
9          HW7          0
10         HW8          0
11         HW9          0
12        HW10          0
13        HW11          0
14        HW12          0
15        HW13          0
16        HW15          0
17        HW16          0
18        HW17          0
19        HW18          0
20        HW19          0
21        HW51          0
22        HW52          0
23        HW53          0
24        HW55          0
25        HW56          0
26        HW57          0
27        HW58          0
28        HW70          0
29        HW71          0
30        HW72          0
31        HW73          0